// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// VARIABLES   * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

$purpleD:#403C78;
$purpleL:#9B95C4;
$purpleT:#9b95c45e;
$white:#E3E1CC;
$black:#3B3A34;
$green:#CEF0BE;
$shadowL: inset 7px 4px 17px 2px #fffbe194;
$shadowD: 5px 4px 10px 0px rgba(32, 32, 28, 0.91);



// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// MIXINS  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@mixin FlexRowJustify {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
};

@mixin FlexColCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
};



// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// RULES   * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *


body{
    background: rgb(59,58,52);
    background: radial-gradient(circle, rgba(59,58,52,1) 32%, rgba(27,26,24,1) 100%);
    font-family: "ubuntu";
};

span.Bold {
    font-weight: bolder;
    font-size: 1.3em;
};

input[type="text"]{
    padding: 3%;
    background-color: $white;
    border: none;
    border-radius: 5px;
    box-shadow: $shadowL;
};

a{  
    color: $black;
    text-decoration: underline;
    text-underline-position: under;
};
a:hover{
    color: $black;
    font-weight: bold;
}

// Login Page - Introduction>
.Intro{
    text-align: center;
    color: $white;
    h1{
        font-weight: bolder;
        font-size: 4em;
    };
    p{
        font-style: italic;
    };
}; 

// Login Page - Container mauve translucide
#login{
    display: block;
    width: 500px;
    height: 500px;
}
.Container{
    position: relative;
    top:20vh;
    margin: auto;
    font-family: "Ubuntu";
    color: $black;
    
    .Logo-Lg{
        width: 350px;
        height: 350px;
        background-image: url("../img/PN-1.svg");
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top:-250px;
        left: 80px;
    }
    .Logo-Lg:hover{
        background-image: url("../img/PN-2.svg");

    }
    
    .Form_Login{
        
        width: 100%;
        height: 90%;
        padding: 15% 15% 5% 15%;
        background-color: $purpleT;
        border-radius: 5px;
        box-shadow: $shadowD;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        div{
            margin: 5%;
        };

        label{
            font-weight: bolder;
        };

        input[type="text"]{
            width: 100%;
        }
    };

    .btn_login{
        margin:20px 0px 0px 40px;
        width: 75%;
        background-color: $purpleD;
        padding: 20px 30px 20px 30px;
        color: $white;
        border-radius: 5px;
        border: none;
        font-weight: bold;
    };

    .Under_Link{
        height: 10%;
        padding: 12px;

        ul{
            
            padding: 0;
            margin: 0;
            display: flex;
            list-style: none;
            justify-content: space-between;
        };

        a{
            color: $white;
        }
        a:hover{
            color: $green;
        }

    }
};

//Signin Page - Container 
#signin{
    width: 500px;
    height: 700px;
    .Form_Login{
        padding: 0% 15% 15% 15%;
    }
}

// Home Page - Navbar
.NavBar{
    @include FlexRowJustify ();
    background-color: $purpleL;
    height: 10vh;
    .Logo{
        margin: 1% 0% 0% 2%;
        width: 100px;
        height: 100px;
        background-image:url("../img/Logo_200px_init.svg");
        background-repeat: no-repeat;
        background-size: contain;
    };
    .Menu {
        width: 70%;
        padding: 0% 3% 0% 3%;
        color: $black;

        .Menu_Link{
            @include FlexRowJustify ();
            width: 100%;
            margin: 0;
            list-style: none;

            input[type="text"]{
                width: 70%;
            }
            i{
                padding: 0% 0% 0% 3%;
            }
        };
        
    };
    .Drop_Menu{
        @include FlexColCenter();
        .Drop_Content{
            display: inline-block;
        }
    }
};


