// VARIABLES
$purpleD:#403C78;
$purpleL:#9B95C4;
$white:#E3E1CC;
$black:#3B3A34;
$green:#CEF0BE;
$shadowL: inset 7px 4px 17px 2px #FFFBE1;

// MIXINS
@mixin FlexRowJustify {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
};
@mixin FlexColCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
};
// RULES

input[type="text"]{
    padding: 3%;
    background-color: $white;
    border: none;
    border-radius: 5px;
    box-shadow: $shadowL;
};

a{  
    color: $black;
    text-decoration: underline;
    text-underline-position: under;
};
a:hover{
    color: $black;
    font-weight: bold;
}

.NavBar{
    @include FlexRowJustify ();
    background-color: $purpleL;
    height: 10vh;
    .Logo{
        margin: 1% 0% 0% 2%;
        width: 100px;
        height: 100px;
        background-image:url("../img/Logo_200px_init.svg");
        background-repeat: no-repeat;
        background-size: contain;
    };
    .Menu {
        width: 70%;
        padding: 0% 3% 0% 3%;
        color: $black;

        .Menu_Link{
            @include FlexRowJustify ();
            width: 100%;
            margin: 0;
            list-style: none;

            input[type="text"]{
                width: 70%;
            }
            i{
                padding: 0% 0% 0% 3%;
            }
        };
        
    };
    .Drop_Menu{
        @include FlexColCenter();
        .Drop_Content{
            display: inline-block;
        }
    }
};

.Pop_Up{
    width: 500px;
    height: 500px;
    position: absolute;
    top:20vh;
    margin: auto;
    font-family: "Ubuntu";
    color: $black;
    display: ;
    
    .Logo-Lg{
        width: 300px;
        height: 300px;
        background-image: url("../img/Logo_200px_init.svg");
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top:-160px;
        left: 145px;
    }
    .Logo-Lg:hover{
        background-image: url("../img/Logo_200px_MouseOver.svg");
        width: 302px;
        height: 311px;
        top:-171px;
    }

    .Button_Esc{
        background-color: $black;
        color: $white;
        height: 50px;
        width: 50px;
        border-radius: 100%;
        border: none;
        position: relative;
        left: 475px;
        top: 20px;
        font-family: "Ubuntu";
        font-weight: bolder;
        font-size: 30px;
    }
    
    .Form_Login{
        
        width: 100%;
        height: 90%;
        padding: 15% 15% 5% 15%;
        background-color: $purpleL;
        border-radius: 20px;
        box-shadow: 5px 4px 10px 0px rgba(59,58,52,0.91);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        div{
            margin: 5%;
        };

        label{
            font-weight: bolder;
        };

        input[type="text"]{
            width: 100%;
        }
    };

    .btn_login{
        margin-left:40px;
        width: 75%;
        background-color: $purpleD;
        padding: 20px 30px 20px 30px;
        color: $white;
        border-radius: 14px;
        border: none;
        font-weight: bold;
    };

    .Under_Link{
        height: 10%;
        padding: 12px;
        ul{
            padding: 0;
            margin: 0;
            display: flex;
            list-style: none;
            justify-content: space-between;
        };

    }
};
